/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
 }

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
 }

.content {
  display: inline-block;
  width: 70%;
  padding-top: 50px;
}

.sidebar {
  width: 20%;
  float: left;
  padding: 20px;
  margin: 10px;
}

.sidebar_post {
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  border-bottom: 1px #7a7c7e solid;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

h1 {
  margin: 20px 0px 0px 0px;
}

h1 a {
  color: #777;
  text-decoration: none;
}

h2 {
  margin: 0px 0px 20px 0px;
}

h3 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

.new-post {
  display: table;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  background-color: #777;
  color: white;
}

.post {
  margin-bottom: 2em;
  border-bottom: 1px #7a7c7e solid;
  padding-bottom: 3em;
}

.post p {
  margin-bottom: 2em;
  font-family: 'Lato', sans-serif;
  font-size: .75em;
  line-height: 1.75em;
}

.post-header, .post-edit-delete {
  display: block;
}

.post-header {
  font-family: 'Lato', sans-serif;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
}

.post-header > span {
  display: block;
}

.post-header span:nth-child(2) {
  font-size: 0.7em;
}

.post-header a, .container a {
  color: #BBB;
  text-decoration: none;
}

 .post-posted-by {
   font-weight: 100;
   color: black;
 }

 .post-photo {
   width: 100%;
 }

 .post-edit-delete {
   margin-bottom: 1em;
 }

 .post-edit-delete a {
   float: left;
   display: inline-block;
   border-radius: 5px;
   padding: 0 6px;
   text-decoration: none;
   text-align: center;
   font-size: 0.8em;
   line-height: 20px;
   color: white;
   background-color: #777;
 }

 .post-edit-delete button {
   float: right;
   display: inline-block;
   border: none;
   border-radius: 5px;
   padding: 0 6px;
   text-decoration: none;
   text-align: center;
   font-family: "Montserrat", Helvetica, sans-serif
   font-size: 2em;
   line-height: 20px;
   color: white;
   background-color: #777;
 }

 .post-header p {
    font-size: .7em;
    margin: 5px;
  }

 .icon-photo {
   width: 25px;
   margin-bottom: -4px;
 }

 input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
 }

input[type=submit] {
  width: auto;
  padding: 9px 15px;
  background-color: gray;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
 }
